<h1>Hello, welcome the the app, this is working</h1>
<h1>To get the app working for windows, add "gem 'coffee-script-source', '1.8.0'" to the gemfile and then run "bundle update coffee-script-source"</h1>
